*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

.coverage

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

# npm
package.json
package-lock.json

# local tokens/secrets
.tok
